.editorconfig
.eslintrc
.eslintrc.json
.git
.github
.nyc_output
.prettierignore
.prettierrc
.releaserc
**/.git/
**/node_modules/
/.husky
/.vscode
/coverage
/demos
/develop
/docs
/public
/src/tests
/temp
/templates
/tests
babel.config.json
jest-setup.js
jest.config.js
rollup.config.js
yarn.lock